
@font-face {
    font-family: "B";
    src: url("../fonts/BrushScript.ttf") format("truetype");
  }
html {
    scroll-behavior: smooth;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
  }
  body{
    font-weight:400;
    color: #293651;
    font-size:22px;
    font-family:"Monstserrat", sans-serif;
}
a:hover{
    background-color:#ccc;
    color:black;
    border:solid black 1px;
    border-radius:50px;
    box-shadow:5px 5px 5px 5px #000;
    text-transform:uppercase;
    font-weight:900;
    transform:rotate(5deg);
    transition:500ms;
}

    #linhaGrande{
        width:8%;
    }
    #linhaMedia{
        width:4%;
    }
    #linhaPequena{
        width:2%;
}
.h1MaisGrosso{
font-weight:900;
}
.h2MaisFino{
font-weight:lighter;
}
span{
    color:#20b2aa;
    font-weight:lighter;
}
.botao{
    cursor:pointer;
    border:none;
    border-radius:10px;
    background-color:#44a88e;
    color:white;
    width:200px;
    height:50px;
}
.imageContainer{
    margin-left:15%;
    }
header{
    margin-left:13%;
}

.ContratarTitulo{
    font-weight:500;
}
a{
    text-decoration:none;
    color: #293651;
}
.progressSection{
  margin-top:4%;
  margin-left:15%;
}
.progressCinza,.progressVerde::after{
    content:"";
}
.progressCinza{
    width:50%;
    background-color:rgb(204, 204, 204);
    height:19px;
    position:absolute;
    border:none;
    border-radius:5px;
}
.progressVerde{
    height:19px;
    position:relative;
    width:50%;
    background-color:#44a88e;
    border:none;
    border-radius:5px;
}
#progressVerdeSegundo{
    width:45%;
}
#progressVerdeTerceiro{
    width:55%;
}
#progressVerdeQuarto{
    width:40%;
}
.marcador::after{
    content:" ";
}
.marcador{
width:0.5%;
background-color:#20b2aa;
border:solid #fff 3px;
margin-left:49.3%;
position:relative;
color:#20b2aa;
bottom:25px;
}
#marcadorProgressSegundo{
    margin-left:44.3%;
}
#marcadorProgressTerceiro{
margin-left:54.4%;
} 
#marcadorProgressQuarto{
margin-left:39.6%;
}
.porcentagemTexto{
text-align:right;
color:rgba(167, 165, 165, 0.9);
}

.tituloProjetos{
    font-size:25pt;
    text-decoration:none;
}
li{
list-style:none;
}
.containerTituloProjetos{
margin-left:40%;
margin-top:-12%;
}
.tituloProjetos{
    margin-top:14%;
    margin-bottom:50px;
    font-weight:bolder;
    font-size:32pt;
}
#linhaGrandeProjetosTitulo{
    width:4%;;
    margin-left:20px;
    bottom:50px;
    position:relative;
    background-color:#add8e6;
}
#linhaMediaProjetosTitulo{
    width:0.6%;
    position:relative;
    bottom:50px;
}
#linhaPequenaProjetosTitulo{
    width:0.6%;
    position:relative;
    bottom:50px;
}
hr{
    display:inline-block;
    border-color:#44a88e;
}
.liTextoProjeto{
    text-align:left;
    margin-top:50px;
}
.ulProjetos{
    display:inline-table;
    background-color:#fff;
    margin-left:6%;
    padding:2%;
    width:30%;
    height:500px;
    border:solid #000 2px;
    border-radius:20px;
    vertical-align:top;
}
.projetos{
    margin-top:8%;
    height:fit-content;
    width:100%;
    background:linear-gradient(to right, #ddd, #eee);
    padding:160px;
}
.projetosImage{
    width:20%;
    margin-top:5%;
}
.divContatos{
    margin:8%;
    border-radius:10px;
    width: 80%;
    height:fit-content;
    color:#fff;
    background-color:#44a88e;
    padding: 25px;
}
.linhaGrandeContatos{
    width:3%;
    border:solid white 1px;
}
.linhaMediaContatos{
    width:0.6%;
    border:solid white 1px;
    margin-left:0.8%;
}
.linhaPequenaContatos{
    width:0.6%;
    margin-left:0.8%; 
    border:solid white 1px; 
}
.logos{
    width:40px;
    padding:50px;   
}
.icons{
    display:inline-block;
    text-align:center;
}
.footer{
    text-align:center;
    background:linear-gradient(to right, rgba(226, 224, 224, 0.6), rgba(221, 219, 219,0.5));
    height:100%;
    width:110%;
}
#emailFooter{
    font-size:50pt;
}
.liNavBar{
    display:inline;
   padding-right:5%;
}