
@font-face {
    font-family: "B";
    src: url("../fonts/BrushScript.ttf") format("truetype");
  }
html {
    scroll-behavior: smooth;
  }
  body{
    font-weight:400;
    color: #293651;
    font-size:22px;
    font-family:"Monstserrat", sans-serif;
    margin:0;
    padding:0;
}
  .divArrow{
    float:right;
      
  }
  .flechaFimDaPagina{
    width:30px;
    border:solid 5px #000;
    padding:10px;
    border-radius:100px;
    position:fixed;
    right:0.1%;
  }
a:hover:not(.arrowDownNotHover){
    background-color:#ccc;
    color:black;
    border:solid black 1px;
    border-radius:50px;
    box-shadow:5px 5px 5px 5px #000;
    text-transform:uppercase;
    font-weight:900;
    transform:rotate(5deg);
    transition:500ms;
}

    #linhaGrande{
        width:8%;
    }
    #linhaMedia{
        width:4%;
    }
    #linhaPequena{
        width:2%;
}
.h1MaisGrosso{
font-weight:900;
}
.h2MaisFino{
font-weight:lighter;
}
span{
    color:lightseagreen;
    font-weight:lighter;
}
.botao{
    cursor:pointer;
    border:solid 1px;
    border-radius:9px;
    background-color:#44a88e;
    color:white;
    width:200px;
    height:50px;
}
.imageContainer{
    margin-left:17%;
    }
header{
    margin-left:15%;
}
.Progress{
    margin-left:18%;
}
.progressCinza{
background-color:rgba(233, 233, 233, 0.9);
width:700px;
height:16px;
border:solid none 2px;
border-radius:20px;
position:relative;
display:inline-block;
}
.progressVerde{
    background-color:#48c2a1;
    width:600px;
    height:14px;
    border:solid #52b99e 2px;
    border-radius:20px;
    position:absolute;
    display:inline-block;
    left:21.1em;
}
.marcador{
    width:5px;
    height:25px;
    background-color:#fff;
    border:solid #52b99e 3px;
    display:inline-block;
    position:absolute;
    left:41.6%;
    top:1224px;
}
#mark2{
    left:38.7%;
    top:1334px;
}
#mark3{
    left:42.8%;
    top:1444px;
}
#mark4{
    left:34.7%;
    top:1554px;
}
#barraVerde2{
    width:525px;
}
#barraVerde3{
    width:630px;
}
#barraVerde4{
    width:420px;
}
.ContratarTitulo{
    font-weight:500;
}
.porcentagemTexto{
    position:relative;
    float:right;
    bottom:85px;
    font-size:16pt;
    color:rgba(146, 142, 142, 0.9);
}
a{
    text-decoration:none;
    color: #293651;
}
.tituloProjetos{
    font-size:25pt;
    text-decoration:none;
}
li{
list-style:none;
}
.liNavBar{
    display:inline;
    padding:3%;
}
.containerTituloProjetos{
margin-left:46%;
position:relative;
top:170px;
width: 200px;
}

#linhaGrandeProjetosTitulo{
    width:4%;;
    margin-left:20px;
    bottom:50px;
    position:relative;
    background-color:#add8e6;
}
#linhaMediaProjetosTitulo{
    width:0.6%;
    position:relative;
    bottom:50px;
}
#linhaPequenaProjetosTitulo{
    width:0.6%;
    position:relative;
    bottom:50px;
}

hr{
    margin-left:0;
    display:inline-block;
    border-color:#44a88e;
}
.liTextoProjeto{
    position:relative;
    text-align:left;
    margin-top:50px;

}
.ulProjetos{
    display:inline-table;
    background-color:#fff;
    margin-left:11.5%;
    margin-bottom:40px;
    padding:25px;
    width:28%;
    height:400px;
    border:solid #000 2px;
    border-radius:20px;
    vertical-align:top;
}
.projetos{
    height:fit-content;
    width:84.5%;
    background:linear-gradient(to right, #ddd, #eee);
    padding:200px;
}

.tituloProjetos{
    position:relative;
    margin-bottom:50px;
    font-weight:bolder;
    margin-top:20px;
    font-size:32pt;
}
.projetosImage{
    width:100px;
    padding-top:35px;
    position:relative;
    left:10px;
}
.divContatos{
    margin:10%;
    border-radius:10px;
    width: 80%;
    height:fit-content;
    color:#fff;
    background-color:#44a88e;
    padding: 25px;
}
.linhaGrandeContatos{
    width:3%;
    bottom:10px;
    position:relative;
    border:solid white 1px;
}
.linhaMediaContatos{
    width:0.6%;
    bottom:10px;
    position:relative;
    border:solid white 1px;
    left:10px;
}
.linhaPequenaContatos{
    width:0.6%;
    bottom:10px;
    position:relative;
    left:20px; 
    border:solid white 1px; 
}
/**.imagemMapaFundoContato{
    background-image: url(mapa.png);
    background-position:center;
    position:relative;
    background-repeat:no-repeat;
   height:1000px;
    opacity:0.3;
    right:200px;
    background-size:1600px;
    top:1100px;
}**/
.logos{
    width:40px;
    padding:50px;
    position:relative;    
}
.icons{
    display:flex;
    justify-content:center;
}
.footer{
    margin-top:1%;
    text-align:center;
    padding:3%;
    background:linear-gradient(to right, rgba(226, 224, 224, 0.6), rgba(221, 219, 219,0.5));
    max-height:1000px;
    height:auto;
}
#emailFooter{
    font-size:50pt;
}
.textoFooter{
    position:relative;
    margin-top:20px;
    margin-bottom:80px;
}