@media screen and (max-width:540px){
    .ulProjetos{
        width:100%;
        height:500px;
        margin-left:-8%;
        margin-right:30%;
    }
    .projetos{
        margin-top:8%;
        height:fit-content;
        width:fit-content;
        background:linear-gradient(to right, #ddd, #eee);
        padding:160px;
    }
    .containerTituloProjetos{
        margin-left:20%;
        margin-top:-12%;
        }
        .logos{
            width:8%;
            padding:3%;   
        }
        .icons{
            display:inline-block;
            text-align:center;
        }
        .footer{
            text-align:center;
            background:linear-gradient(to right, rgba(226, 224, 224, 0.6), rgba(221, 219, 219,0.5));
            height:100%;
            width:110%;
            font-size:15pt;
        }
        #emailFooter{
            font-size:25pt;
        }
        .liNavBar{
            display:inline;
           margin-right:5%;
        }
}